/build/
/build-*/
/out/
/bin/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

*.elf
*.3dsx
*.smdh
*.cia

*.d
*.o

.vscode/*

!.vscode/settings.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json


.DS_Store
Thumbs.db

*.log

*.tmp
*.swp